/build/desktop/project_*/
/build/desktop/temp_cache_*/
/build/android/assets/
/build/android/bin/
/build/android/libs/
/build/android/obj/
/build/android/build.xml
/build/android/*.txt
/build/android/*.properties
*.exe
*.ilk
*.pdb
*.dll

